body {
  font-family: sans-serif;
  background: #222;
  color: #eee;
  text-align: center;
  /* font-size: 1vw; */
}

h1 {
  /* font-size: 1vw; */
  /* color: #222; */
}

.container {
  /* margin: 0px 3em 0px 3em; */
}

.sound {
  text-align: center;
  /* border: 3px solid #ccb03b; */
  border-radius: 20px;
  /* background: #eee;
  margin: 2px; */
  padding: 12px;
  display: inline-block;
  /* width: 10%; */
}



img {
  min-height: 100px;
  max-height: 100px;

    min-width: 20px;
  max-width: 20px;
  /* width: 30%; */
  /* height: auto; */
}


/* #stopButton img {
  transform: scaleX(4);
} */